.header {
    background-color: cornflowerblue;
    height: 2.4em;
    font-family: 'Vollkorn SC', serif;
    text-align: center;
    width: auto;
    font-size: 3em;
    text-shadow: -2px -2px 1px rgba(34, 85, 85, 0.75), 2px 2px 1px #225555, -2px 2px 1px rgba(34, 85, 85, 0.69), 1px -1px 0px #225555;

}
a {
    text-decoration: none;
    color: black;
}
wl {
    font-family: 'Vollkorn SC', serif;
    font-size: 2.1em;
}



.nav {
    background-color: lightblue;
    height: 100px;
      margin: 2em 2em 2em;

  }

.nav ul {
    display: flex;
    font-family: 'Vollkorn SC', serif;


}

.nav li {
    list-style-type: none;
    margin-left: 10px;
}

.flex {
    display: flex;
}

.side-left {
    background-color: lightblue;
    flex: 1;
    text-align: center;

}

.main{
    background-color: lightblue;
    flex: 1;
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size:2.1em;
}

.side-right {
    background-color: lightblue;
    flex: 1;
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size:2.1em;
}

.footer {
    background-color: darkorchid;
    height: 40px;
    margin-top: 2em;
}
img, .menu{
    height: 70%;
}


/*PAGINAS SECUNDARIAS*/

.navegasio{
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    font-size: 3em;
    margin: 1em 1em 1em;
    background-color: red;
}
.lefty{
    flex: 1;
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size: 2.5em;
    align-content: center;
    background-color: lightblue;
}
.righty{
    flex: 1;
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size: 2.5em;
    align-content: center;
    background-color: lightblue;
}
.mainty{
    flex: 1;
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size: 2.5em;
    align-content: center;
    background-color: lightblue;
}

img.champ{
    height: 50%;
    box-shadow: 3px 3px 6px #000;
}
.selector{
    background-color: cornflowerblue;
    height: 6em;

}
ul{
    color: black;
    text-shadow: -1px -1px 0px #ffffff, 1px 1px 0px #ffffff, -1px 1px 0px #ffffff, 1px -1px 0px #ffffff;


}

/* PAGINA CAMPEON*/
.flexivana{
    display: flex;

    background: url("https://orig00.deviantart.net/68fc/f/2015/074/d/b/ice_drake_shyvana_by_kokonoearata-d8lruas.png") no-repeat;
    background-size: 100%;
}
.flexiturne{
    display: flex;

    background: url("http://lolwp.com/wp-content/uploads/Nocturne_Splash_0.jpg") no-repeat;
    background-size: 100%;
}
.flexiyi{
    display: flex;

    background: url("https://images5.alphacoders.com/384/thumb-1920-384048.jpg") no-repeat;
    background-size: 100%;
}

.flexisin{
    display: flex;

    background: url("http://lolwp.com/wp-content/uploads/Muay-Thai-Lee-Sin.jpg") no-repeat;
    background-size: 100%;
}
.flexirelia{
    display: flex;

    background: url("https://static.zerochan.net/Irelia.full.1187479.jpg") no-repeat;
    background-size: 100%;
}
.flexikassadin{
    display: flex;

    background: url("http://lolwp.com/wp-content/uploads/Kassadin-Classic-Wallpaper.jpg") no-repeat;
    background-size: 100%;
}



.flexigaren{
    display: flex;

    background: url("https://i.ytimg.com/vi/4qOQUZeZYdE/maxresdefault.jpg") no-repeat;
    background-size: 100%;
}
.flexilistar{
    display: flex;

    background: url("https://static.lolwallpapers.net/2014/08/Alistar.jpg") no-repeat;
    background-size: 100%;
}
.flexifizz{
    display: flex;
    background: url("https://images5.alphacoders.com/698/thumb-1920-698163.jpg")no-repeat;
    background-size:100% ;
}
.leftchamp{
    flex: 0;
    height: 100px;
    text-align: center;
    font-family: "Vollkorn SC", Serif;

}
.mainchamp{
    flex: 1;
    font-family: "Vollkorn SC", Serif;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    height: 20em;

}

.contenido{
    text-align: left;
    font-size: 0.7em;
    margin-left: 1em;
}
.Top{
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size: 1.5em;
    text-shadow: -2px -2px 1px #00ff00, 2px 2px 1px #00ff00, -2px 2px 1px #00ff00, 2px -2px 1px #00ff00;
    margin-top: 0.5em;
}
.Sub{
    text-align: center;
    font-family: "Vollkorn SC", Serif;
    font-size: 1.7em;
    font-weight: 600;
    text-shadow: -1px -1px 0px #00ff00, 1px 1px 0px #00ff00, -1px 1px 0px #00ff00, 1px -1px 0px #00ff00;
}

white{
    color: white;
}
yellow{
    color: yellow;
}

.rightchamp{
    flex: 1;
    text-align: center;
}
.table{
    margin-left: 1em;
    border: greenyellow solid;
    margin-right: 1em;
    font-size: 25px;

}

th{
    border-spacing: 30px;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    border-left: solid transparent 2em;
}
td{

    color: black;
    text-shadow: -2px -2px 1px #ffffff, 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff;
    text-align: center;
    width: 5em;
}

.rightchamp ul{
    font-size: 30px;
}

.footer{
    display: flex;
}

.contact{
    flex: 1;
    text-align: center;
    color: white;
    margin-top: 0.5em;
}
.about{
    color: white;
    text-align: center;
    flex: 1;
    margin-top: 0.5em;
}

/* PAGINA DE OBJETERIA*/
#objetos {
    background-color: rgba(47, 79, 79, 0.37);
    font-size: 23px;
}

.imagen{
    height:9em;
    width: 9em;
    text-align: center;
    color: white;
    text-shadow: none;
    border: solid white 1px;

}

.imgscale{
    height: 6em;
    width: 6em;
}
#objetos > th{

    text-align: center;
    text-shadow: none;
    border: solid white 1px;
    margin-bottom: 3em;
}

.nombre{
    text-align: center;
    color: white;
    text-shadow: none;
    border: solid white 1px;
}
.btns{
    border: solid white 1px;
    text-align: center;
    color: white;
}
.precio{
    text-align: center;
    color: yellow;
    text-shadow: none;
    border: solid white 1px;
}
.descripcion{
    color: dodgerblue;
    text-shadow: none;
    text-align: left;
    margin-left: 3em;
    border: solid white 1px;
    width: 100%;
}
.mainobjet{
    background-color: rgba(47, 79, 79, 0.48);
    font-family: "Vollkorn SC", Serif;
}


/*Contactos*/

.maincontact{
    font-family: "Vollkorn SC", Serif;
    margin-left: 40em;

}
#submit_button{
    font-size: 2em;
    margin-left: 4em;
    margin-top:2em;
}
.addisio{
    flex: 1;
    text-align: left;
    color: white;
    margin-top: 0.5em;
    background-color: #225555;
    font-size: 30px;

}

.Background{
    background-image: url("https://vignette.wikia.nocookie.net/leagueoflegends/images/0/02/Grieta_del_Invocador.jpg/revision/latest?cb=20170422181503&path-prefix=es");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
.items{
    color: white;
}


/*CARROUSEEEEEEL*/

.container {
    width: 640px;
    height: 310px;
    position: relative;
    margin: 0 auto 0px;
    border: 2px solid #CCC;
    perspective: 2200px;
}
#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ( -518px );
    transform-style: preserve-3d;
    transition: transform 1s;
}
#carousel figure {
    display: block;
    position: absolute;
    width: 120%;
    height: 120%;
    left: 0px;
    top: 0px;
    border: 0px solid rgba(   0, 0, 0, 0.8 );
    line-height: 0px;
    font-size: 0px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0px;
}

#carousel figure:nth-child(1) {
    transform: rotateY(   0deg ) translateZ( 518px );
}
#carousel figure:nth-child(2) {
    transform: rotateY(  72deg ) translateZ( 518px );
}
#carousel figure:nth-child(3) {
    transform: rotateY(  144deg ) translateZ( 518px );
}
#carousel figure:nth-child(4) {
    transform: rotateY( 216deg ) translateZ( 518px );
}
#carousel figure:nth-child(5) {
    transform: rotateY( 288deg ) translateZ( 518px );
}

#options {
    position: relative;
    align-content: center;
    margin-left:40%;
    margin-top:2em;
}
#previous{
    width: 12em;
    height: 6em;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
#previous:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#next{
    width: 12em;
    height: 6em;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#next:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}


/*-----------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 80px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


